page-home {
  .student-container {
    max-width: 20%;
  }

  .largeButton {
    width: 100%;
    //width: calc(20% - 20px);
    margin: 0 10px;

    height: 60px;
    //padding: 10px;
    display: flex;
    white-space: normal;
    font-weight: bold;
    border-radius: 5px;
  }

  .largeButton:empty {
    height: 0px;
  }
}
