<ion-header padding>
  <div class="welcome">
    <div class="welcome-title">Luditics Seguimiento </div>
    <div>
      <div class="teacher-syle">
        Hola Profesor!
      </div>
      <div class="group-style">
        {{group.grupo__grado}} - {{group.grupo__consecutivo}}
      </div>
    </div>
  </div>
</ion-header>

<!--En esta sección iran las tabs, es decir los modulos de la apliación-->
<ion-content padding>
  <!--Se cargan los estudiantes de la base de datos.
      Se ordenan en cuadricula y se justifican al espacio.-->
  <div style="margin: 20px;">
    <ion-grid>
      <!--Llenar un vector de filas y llenar con los datos quemados-->
      <ion-row *ngFor="let row of list; let i = index">
        <ion-col col-auto col-sm class="student-container">{{i}}</ion-col>
        <ion-col class="student-container" col-auto col-sm *ngFor="let student of row">
          <!--Cada estudiante es representado por un botón, para enviar sus valores de vista a vista-->
          <button class="largeButton" ion-button (click)="sendValues(student)">
            {{student.nombres}} {{student.apellidos}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>