<ion-header padding>
  <div class="welcome">
    <div class="welcome-title">Luditics Seguimiento </div>
    <div>
      <div class="teacher-syle">
        ¡Hola Mónica!
      </div>
      <div class="group-style">
        {{group.grupo__grado}} - {{group.grupo__consecutivo}}
      </div>
    </div>
  </div>
</ion-header>

<!--En esta sección iran las tabs, es decir los modulos de la apliación-->
<ion-content padding>
  <!--Se cargan los estudiantes de la base de datos.
      Se ordenan en cuadricula y se justifican al espacio.-->
  <div style="margin: 20px;">
    <ion-grid>
      <!--Llenar un vector de filas y llenar con los datos quemados-->
      <ion-row *ngFor="let row of list; let i = index">
        <!--<ion-col col-auto col-sm class="student-container">{{i}}</ion-col>-->
        <ion-col class="student-container" col-auto col-sm *ngFor="let student of row">
          <!--Cada estudiante es representado por una tarjeta, para enviar sus valores de vista a vista-->
          <ion-card class="{{student.empty}} itemView" (tap)="sendValues($event, student)" >
            {{student.nombres}} {{student.apellidos}} 
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="information" *ngIf="connectionError">
    <h3 style="text-align: center">Error de conexión. Intentalo nuevamente</h3>
    <button ion-button (click)="retry()">Reintentar</button>
  </div>

  <div class="information" *ngIf="noStudents">
    <h3 style="text-align: center">El grupo ha evaluar no tiene estudiantes registrados</h3>
  </div>
</ion-content>