page-home {
  .student-container {
    max-width: 20%;
  }

  .largeButton {
    width: 100%;
    //width: calc(20% - 20px);
    //margin: 0 10px;

    height: 40px;
    //padding: auto;
    display: flex;
    white-space: normal;
  }

  .largeButton:empty {
    height: 0px;
  }
}
