<ion-header>

  <ion-navbar>
    <ion-title>Configuración Luditics Administración</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid style="align-items: center;">
    <ion-row>
      <h4>Grupos a cargo</h4>
    </ion-row>
    <ion-row *ngFor="let group of groups">
      <button ion-button (click)="sendValues(group)" style="width: 35rem;">
        {{group.grupo__grado}} - {{group.grupo__consecutivo}}
      </button>
    </ion-row>
    <ion-row>
      <ion-item *ngIf="groups.length == 0">
        <ion-label>No tiene grupos a cargo</ion-label>
      </ion-item>
    </ion-row>
  </ion-grid>

  <div class="information" style="height: 50%" *ngIf="connectionError">
    <h3 style="text-align: center">Error de conexión. Intentalo nuevamente</h3>
    <button ion-button (click)="retry()">Reintentar</button>
  </div>
</ion-content>