page-ubication {
  .selected {
    background-color: #ffba5c;
    margin: 0 0px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    white-space: normal;
    text-align: center;
    justify-content: center;
    padding: 0;
    border-radius: 5px;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    line-height: 1;
    font-weight: bold;
    font-size: 10pt;
  }
  .changed {
    background-color: #8aacff;
    margin: 0 0px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    white-space: normal;
    text-align: center;
    justify-content: center;
    padding: 0;
    border-radius: 5px;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    line-height: 1;
    font-weight: bold;
    font-size: 10pt;
  }

  .emptyStudent {
    opacity: 0.4;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem;
    background-color: #fff;
    width: 100%;
  }

  .itemView {
    width: 100%;
    margin: 0;
    height: 60px;
    display: flex;
    align-items: center;
    white-space: normal;
    text-align: center;
    justify-content: center;
    padding: 10px 5px;
    border-radius: 5px;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    line-height: 1;
    font-weight: bold;
    background-color: #a663ff;
    font-size: 10pt;
    color: white;
  }
}
