page-assistance {
  .onTime {
    background-color: #488aff;
  }

  .late {
    background-color: #ffba5c;
  }

  .miss {
    background-color: #ff5381;
  }

  .student-container {
    max-width: 20%;
  }

  .itemView {
    width: 100%;
    //width: calc(20% - 20px);
    margin: 0 10px;
    height: 60px;
    display: flex;
    align-items: center;
    white-space: normal;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    color: white;
    line-height: 1;
    font-weight: bold;
    font-size: 12pt;
  }
}
