--><ion-header>
  <ion-navbar>
    <ion-title>Luditics Asistencia</ion-title>
  </ion-navbar>
</ion-header>


<!--<ion-content padding>
  <div style="margin: 20px;">
    <ion-grid>
      <ion-row *ngFor="let row of list">
        <ion-col class="student-container" col-auto col-sm *ngFor="let student of row">

          <button class="largeButton" color: ion-button (click)="sendAsistance(student)">
            {{student.nombres}} {{student.apellidos}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content> -->

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let row of list">
      <ion-col class="student-container" col-auto col-sm *ngFor="let student of row">
        <ion-card class="onTime" (tap)="tapEvent($event)" (press)="pressEvent($event)">
          <ion-card-content>
            andres
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-auto col-sm>
        <ion-card class="onTime" (tap)="tapEvent($event)" (press)="pressEvent($event)">
          <ion-card-content>
            andres
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-auto col-sm>
        <ion-card class="onTime" (tap)="tapEvent($event)" (press)="pressEvent($event)">
          <ion-card-content>
            andres
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
