page-assistance {
  .onTime {
    background-color: #0088cc;
  }

  .late {
    background-color: #ffce8c;
  }

  .miss {
    background-color: #666666	;
  }

  .student-container {
    max-width: 20%;
  }

  .itemView {
    width: 100%;
    margin: 0 10px;
    height: 60px;
    display: flex;
    align-items: center;
    white-space: normal;
    text-align: center;
    justify-content: center;
    padding: 10px 5px;
    border-radius: 5px;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    color: white;
    line-height: 1;
    font-weight: bold;
    font-size: 10pt;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem;
    background-color: #fff;
    width: 100%;
  }

  .item-view-empty {
    background-color: #eeeeee;
    opacity: 0.4;
    pointer-events: none;
  }
}
