<ion-header padding>
  <div class="welcome">
    <div class="welcome-title">Luditics Asistencia </div>
    <div>
      <div class="teacher-syle">
        ¡Hola Mónica!
      </div>
      <div class="group-style">
        {{group.grupo__grado}} - {{group.grupo__consecutivo}}
      </div>
    </div>
  </div>
</ion-header>

<ion-content padding>

  <div class="information" *ngIf="list == 0 && connectionError == false">
    <h3>No se ha generado la asistencia diaria</h3>
    <button ion-button (click) = "insertAssistances()"> Generar asistencia diaria.</button>
  </div>

  <div class="information" *ngIf="connectionError">
    <h3 style="text-align: center">Error de conexión. Intentalo nuevamente</h3>
    <button ion-button (click) = "retry()"> Reintentar</button>
  </div>

  <div style="margin: 20px;">
    <ion-grid>
      <ion-row *ngFor="let row of list">
        <ion-col class="student-container" col-auto col-sm *ngFor="let student of row">
          <ion-card class="{{student.asistenciaClass}} itemView" (tap)="tapEvent($event, student)" (press)="pressEvent($event, student)">
            {{student.grupoxestudiante__estudiante_id__nombres}} {{student.grupoxestudiante__estudiante_id__apellidos}}
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <div class="footer" *ngIf="changed">
    <h6>Enviar actualización asistencia</h6>
    <ion-buttons end>
      <button ion-button (click)="updateAssistances()"> Actualizar </button>
    </ion-buttons>
  </div>
</ion-footer>